.root {
  width: 66%;
  color: #fff;
}

.logo {
  margin-left: -12px;
}

.header {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.6px;
}

.content {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 0.3px;
}
