{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "^16.6.3"
    },
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.dev.js"
      }
    }
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "jsx-a11y", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/display-name": 0,
    "import/no-unresolved": 0,
    "object-property-newline": "error",
    "indent": [
      "error",
      2,
      {
        "ObjectExpression": 1
      }
    ],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, {"extensions": [".tsx", ".jsx"]}]
  }
}
