.timeAndDateBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.labelText {
  margin: 25px 0 5px 0;
  font-size: 22px;
  font-weight: 600;
}
.colorOption{
  float: left;
  width: 26px;
  height: 26px;
  margin-right: 18px;
  border: 1px solid rgba(173, 181, 199, 0.87);
  border-radius: 18px;
}
.optionText{
  margin-top: 4px;
}
