.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableRow {
  cursor: pointer;
  &:hover {
    background-color: rgba(25, 25, 100, 0.07);
  }
}
