.root {
  height: 100%;
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000 url('shared/assets/img/signInBg.png');
  background-size: cover, contain;
  color: #fff;
}

.content {
  width: 66%;
}

.logo {
  margin-left: -12px;
}

.header {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.6px;
}

.info {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 0.3px;
}
